[Unit]
Description=Grimoire Telegram Bot
After=network.target

[Service]
Type=simple
User=YOAKE
WorkingDirectory=/home/YOAKE/dev/Grimoire
ExecStart=/home/YOAKE/dev/Grimoire/bin/grimoire-bot -config /home/YOAKE/dev/Grimoire/configs/config.yaml
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
